body
{
    background-color: lightsteelblue;
}

h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
}

h2
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
}

h3
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
}

p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

table, th, td
{
    border:1px solid black;
}



